<!--The content below is only a placeholder and can be replaced.-->

  
  <ul class="accounts">
        <li *ngFor="let account of accounts" 
        [class.selected]="account === selectedAccount"
        (click)="onSelect(account)">
  
        
            <span class="badge">{{account.id}}</span> 
            {{account.accountArea}}
        </li>
    </ul>
  
    <div *ngIf="selectedAccount">
        <h2>
          {{selectedAccount.adminName | uppercase}} is my account
        </h2>
        <button (click)="gotoDetail()">View Details</button>
      </div>