<p-treeTable [value]="files" selectionMode="multiple" [(selection)]="selectedFiles"
 (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)" [contextMenu]="cm">

    <p-column field="accountArea" header="Account Area"></p-column>
    <p-column field="adminName" header="Admin Name"></p-column>
    <p-column field="minCreditValue" header="Min Credit"></p-column>
    <p-column field="maxCreditValue" header="Max Credit"></p-column>
    <p-column field="moneyChannel" header="Money Channel"></p-column>
    <p-column field="otherNotes" header="Other Notes"></p-column>
</p-treeTable>

<button pButton type="button" (click)="addClickedEvent()" label="Click">Add</button>
<br/><br/><br/>
<div *ngIf = "addClicked">
    <label>Area name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label> <input #areaName pInputText/><br/>
    <label>Admin name:&nbsp;&nbsp;&nbsp;&nbsp;</label> <input #adminName pInputText/><br/>
    <label>Min value: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label> <input #minValue pInputText/><br/>
    <label>Max value: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label> <input #maxValue pInputText/><br/>
    <label>Monney Channel:</label> <input #moneyChannel pInputText/><br/>
    <label>Other notes: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label> <input #otherNotes pInputText/><br/>
  <button (click)="add(areaName.value, adminName.value , minValue.value , maxValue.value , moneyChannel.value , otherNotes.value);
                     areaName.value='';
                     adminName.value = '';
                     minValue.value = '';
                     maxValue.value = '';
                     moneyChannel.value = '';
                     otherNotes.value = '' ">
    Save
  </button>
</div>

<p-contextMenu #cm [model]="items">a</p-contextMenu>
<p-growl [(value)]="msgs"></p-growl>
