<p-treeTable [value]="files" selectionMode="multiple" [(selection)]="selectedFiles"
 (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)" [contextMenu]="cm">

    <p-column field="accountArea" header="Account Area"></p-column>
    <p-column field="adminName" header="Admin Name"></p-column>
    <p-column field="minCreditValue" header="Min Credit"></p-column>
    <p-column field="maxCreditValue" header="Max Credit"></p-column>
    <p-column field="moneyChannel" header="Money Channel"></p-column>
    <p-column field="otherNotes" header="Other Notes"></p-column>
</p-treeTable>

<p-contextMenu #cm [model]="items"></p-contextMenu>
<p-growl [(value)]="msgs"></p-growl>

<button pButton type="button" (click)="addClickedEvent()" label="Click">Add</button>

<div *ngIf = "addClicked">
     <label>Area name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><br/> <input #areaName /><br/>
    <label>Admin name:&nbsp;&nbsp;&nbsp;&nbsp;</label><br/> <input #adminName /><br/>
    <label>Min value: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><br/> <input #minValue /><br/>
    <label>Max value: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label><br/> <input #maxValue /><br/>
    <label>Monney Channel:</label><br/><input #moneyChannel /><br/>
    <label>Other notes: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><br/> <input #otherNotes /><br/>
  <button (click)="add(areaName.value, adminName.value , minValue.value , maxValue.value , moneyChannel.value , otherNotes.value);
                     areaName.value='';
                     adminName.value = '';
                     minValue.value = '';
                     maxValue.value = '';
                     moneyChannel.value = '';
                     otherNotes.value = '' ">
    Save
  </button>
</div>
